button,
  img,
  h3,
  h6,
  small,
  label,
  form,
  input {
    margin: 10px;
  }
  p {
    padding: 10px 0 20px 10px;
    background-color: #f6f6f6;
  }
  h3, label {
    color:#f36e30;
  }
  .col-3 {
    margin-top: 20px;
    padding-top: 100px;
    padding-right: 20px;
  }
  .col-9 {
    margin-top: 20px;
  }
  #buttons-view {
    margin-bottom: 20px;
  }
  #stock-input {
    width: 82%;
  }
  #stock-form {
    text-align: center;
  }
  #change {
      font-size: 16px;
  }